body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Landing Page */

  
.mainPage {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(/storage/publicly/backgroundDashboard.jpg);
    background-blend-mode: overlay;
}

.navbar {
    min-height: 10vh;
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link:hover {
    transition: 500ms;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    color: white;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        margin-left: 2em;
        margin-right: 1.5em;
    }
}

.mainPageContainer {
    width: 390px;
    height: 50px;
    background-color: white;
    opacity: 0.9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.Order {
    display: flex;
}

.myOrder {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskOrder {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPayment {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myOrder {
    background-color: black;
    cursor: pointer;
    color: white;
    font-weight: 800;
}

.taskOrder,
.myPayment {
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 1s;
    font-weight: 800;
}

.myOrder > a,
.taskOrder > a,
.myPayment > a {
    font-size: 20px;
    font-family: serif;
}

/* CONTENT Tengah */

.containerMenu {
    width: 80%;
    height: 85vh;
    display: flex;
    align-items: flex-end;
    margin: auto;
    margin-top: 30px;
    margin-right: 200px;
}

.container1 {
    height: 60%;
    width: 250px;
    background-color: #faebe9;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.headerContainer1 {
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.contentContainer1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* Radio Button  */
.radioButton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.radioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;

    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.radioButton:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.radioButton input:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.radioButton input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.radioButton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.package-checkbox {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
.package-checkbox > span > span {
    margin-left: 5px;
}

/* PAKET CUSTOMMM */
.container2 {
    height: 100%;
    width: 100%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.headerContainer2 {
    text-align: center;
    color: white;
}

.contentContainer2 {
    background-color: #fff3f3;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.paketCustom {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #f1f1f1;
    display: flex;
}

.paketCustomLuarKiri {
    width: 50%;
}
.paketCustomLuarKanan {
    width: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paketanCustom {
    padding: 15px;
}
.paketanContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.paketanCustom h6 {
    text-align: center;
    font-weight: 800;
}

/* CheckBox */
.checkBoxCustom {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkBoxCustom .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    left:102%;
    top:0;
    z-index: 1;
  }
  
  .checkBoxCustom:hover .tooltiptext {
    visibility: visible;
  }

/* Hide the browser's default checkbox */
.checkBoxCustom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
}
.checkmark-yosef {
    height: 20px;
    width: 20px;
    background-color: white;
}
.checkmark-yosef:hover {
    background-color: #ccc;
}
.checkmark-yosef:active {
    background-color: #2196f3;
}

/* On mouse-over, add a grey background color */
.checkBoxCustom:hover input ~ .checkmarks {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxCustom input:checked ~ .checkmarks {
    background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarks:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxCustom input:checked ~ .checkmarks:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxCustom .checkmarks:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttonSubmit {
    display: block;
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.footer {
    height: 10vh;
    background-color: aqua;
    display: flex;

    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
}
.logout {
    background-color: inherit;
    border: none;
}
.tooltip {
    position: relative;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }