body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Landing Page */

.mainPage {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(/storage/publicly/backgroundDashboard.jpg);
    background-blend-mode: overlay;
}

.navbar {
    min-height: 10vh;
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link:hover {
    transition: 500ms;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    color: white;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        margin-left: 2em;
        margin-right: 1.5em;
    }
}
.dropdown-menu {
    position: absolute;
    z-index: 2;
}
.mainPageContainer {
    width: 390px;
    height: 50px;
    background-color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
div.dropdown-menu.show {
    width: auto;
}

.dropdown-menu {
    min-width: 5rem;
}

.Order {
    display: flex;
}

.myOrder {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskOrder {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPayment {
    width: 130px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPayment {
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 800;
}

.myOrder,
.taskOrder {
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 1s;
    font-weight: 800;
}

.myOrder > a,
.taskOrder > a,
.myPayment > a {
    font-size: 20px;
    font-family: serif;
}

.contentTengah {
    display: flex;
    margin: auto;
    width: 40%;
    background-color: white;
    margin-top: 4%;
    border-radius: 20px;
}

.container {
    width: 100%;
    display: flex;

    padding: 4%;
}
form {
    padding-left: 50px;
}
.btnSubmit {
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.footer {
    height: 10vh;
    background-color: aqua;
    display: flex;

    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
}
