body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Landing Page */

.landingPage {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(/storage/publicly/backgroundLandingPage.jpg);
    background-blend-mode: overlay;
}

.navbar {
    min-height: 10vh;
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link:hover {
    transition: 500ms;

    font-size: 20px;
    font-weight: 700;
    height: 100%;
    color: white;
}

.LandingPageContainer {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LandingPageTittle > h1 {
    font-size: 6rem;
    font-family: "Pacifico", cursive;
    color: #fff;
    line-height: 6rem;
    margin: 0px 0px 50px 0px;
}

.LandingPageText {
    font-family: "roboto", sans-serif;
    color: #fff;
    width: 50%;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        margin-left: 2em;
        margin-right: 1.5em;
    }
}

@media only screen and (max-width: 700px) {
    .LandingPageTittle > h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .LandingPageTittle > h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 450px) {
    .LandingPageTittle > h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 350px) {
    .LandingPageTittle > h1 {
        font-size: 2rem;
    }
}

/* our Menu */

.ourMenu {
    width: 100%;
    height: 100vh;
    background: white;
}

/* about */

.about {
    width: 100%;
    height: 90vh;

    background-image: url(/storage/publicly/backgroundAboutUs.jpg);
    background-size: cover;

    display: flex;
}
.aboutContainer {
    display: flex;
    flex-direction: row;
}
.aboutContainerDalam {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}
.aboutPhoto {
    display: flex;
    width: 30%;
    height: 60%;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}
.aboutPhoto > img {
    width: 250px;
    height: 250px;
}
.aboutText {
    width: 40%;
    height: 60%;
    margin-left: 20px;
}
.aboutText > h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Contact Us */
.contactUs {
    height: 90vh;
    background-image: url(/storage/publicly/backgroundContactUs.jpg);
    background-size: cover;
    color: white;
}

.contactUsContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 70px;
    height: 100%;
}

.contactUsText {
    margin-top: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 75px;
    font-weight: 700;
}
.contactUsContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.logo > .fa {
    font-size: 30px;
}
td.logo {
    padding-right: 40px;
    line-height: 45px;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.footer {
    height: 10vh;
    background-color: aqua;
    display: flex;

    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
}
